@import "tailwindcss";

@layer base {
  :root {
    --primary-color: #06b6d4; /* Default Cyan Hex */
  }
  
  body {
    @apply bg-[#0a0a0c] text-white antialiased;
  }
}

@theme {
  --color-primary-500: var(--primary-color);
  --color-primary-600: color-mix(in srgb, var(--primary-color), transparent 20%);
}